<section class="browser-check-container">
  <div class="browser-check-div">
    <div id="browser-check-img">
      <img src="/assets/images/site-logos/Logo-Horizontal.svg">
    </div>
    <h1 id="browser-check-heading">Welcome to KB!</h1>
    <h2 id="browser-check-subheading">It seems like your using Internet Explorer, we recommend using Google Chrome.</h2>
    <div id="browser-check-btn">
      <a href="https://www.google.com/chrome/" target="_blank"><button class="uk-button uk-button-primary" id="goto-dashbaord-btn">DOWNLOAD CHROME</button></a>
    </div>
  </div>
</section>

