<section class="error-container">
  <div class="error-div">
    <div id="error-img">
      <img src="/assets/images/mascots/sad-robert.svg">
    </div>
    <h1 id="error-heading">Houston, we have a problem!</h1>
    <h2 id="error-subheading">If the issue persists please contact the
    <a href="mailto:kb@kmandt.com?subject=KB - Server Error&body=Please describe your issue in detail here.">system admin</a>.</h2>
    <div id="error-btn">
    <button class="uk-button uk-button-primary" id="goto-dashbaord-btn" [routerLink]="['/dashboard']">GO T0 DASHBOARD</button>
    </div>
  </div>
</section>
