<div class="roadmap">
  <div id="top-section">
    <h1 id="top-sec-heading">Roadmap</h1>
    <h2 id="top-sec-subheading">We hope to stick to this as much as possible but roadmap timeslines
      are subject to change due to user and company requirements</h2>
  </div>

  <div id="bottom-section">
    <div class="uk-card uk-card-body">
      <span class="uk-label" id="completed">Completed</span>
      <h3 class="uk-card-title">2018</h3>
      <h1>Version 2.0</h1>
      <ul>
        <li>Updated User Interface (UI) and User Experience (UX)</li>
        <li>Improved proposals process</li>
        <li>Ability to filter proposals</li>
        <li>Improved bio process and handling</li>
        <li>Bio PDF generation</li>
        <li>Creating Associates Bio</li>
        <li>Proposal Reminder Emails</li>
      </ul>
    </div>
    <hr>
    <br>
    <div class="uk-card uk-card-body">
      <span class="uk-label" id="inprogress">In Progress</span>
      <h3 class="uk-card-title">2018</h3>
      <h1>Version 2.1</h1>
      <ul>
        <li>Improve case study process</li>
        <li>Case Study PDF generation</li>
        <li>Admin area to manage users</li>
        <li>Integration with Sharepoint</li>
      </ul>
    </div>
    <hr>
    <br>
    <div class="uk-card uk-card-body">
      <span class="uk-label" id="notstarted">Not Started</span>
      <h3 class="uk-card-title">2018</h3>
      <h1>Version 2.2</h1>
      <ul>
        <li>Create mobile version of app</li>
        <li>Integrate HR into the KB</li>
      </ul>
    </div>
  </div>
</div>
