* {
  font-family: 'Source Sans Pro', sans-serif;
}

.under-development-container {
  margin-left: 240px;
}

.under-development-div {
  width: 60%;
  margin: 10% auto;
}

#under-development-heading {
  color: #333333;
  font-size: 37px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 0;
}

#under-development-img {
  text-align: center;
}

#under-development-img > img {
  width: 23%;
}

#under-development-subheading {
  color: #333333;
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
  margin-top: 5px;
}

#goto-dashbaord-btn {
  background-color: #0070E0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  height: 41px;
  width: 221px
}

#under-development-btn {
  text-align: center;
}
