<section class="under-development-container">
  <div class="under-development-div">
    <div id="under-development-img">
      <img src="/assets/images/mascots/happy-robert.svg">
    </div>
    <h1 id="under-development-heading">Coming Soon!</h1>
    <h2 id="under-development-subheading">This feature is under development. <br>But you can still view all the case studies below.</h2>
    <div id="under-development-btn">
      <a href="https://www.dropbox.com/sh/t8ntfywg17f67em/AABjjyfaUtMgkTkyHCElkXALa?dl=0" target="_blank"><button class="uk-button uk-button-primary" id="goto-dashbaord-btn">VIEW CASE STUDIES</button></a>
    </div>
  </div>
</section>
