<div id="dashboard">
  <div>
    <h1 style="white-space: pre">{{title}} Max!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

  <div>

  </div>

  <div class="uk-child-width-expand" uk-grid>
    <div id="col1">
      <h3>Proposals</h3>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title"></h3>
        <div id="plist">

        </div>
      </div>
    </div>

    <div id="col2">
      <h3>Bios</h3>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title"></h3>
        <div id="blist">

        </div>
      </div>
    </div>
  </div>
</div>
