<section id="dashboard">
  <div id="dashboard-header">
    <div><h1 id="main-title">Hey {{userName}}!</h1>  <img id="waving-icon" src="/assets/images/dashboard-icons/waving-icon.png"></div>
    <div><h1 id="sub-title">{{title}}</h1></div>
  </div>

  <div uk-grid>
    <div>
      <proposal-dashboard [proposals]="proposals"></proposal-dashboard>
    </div>
    <div class="basic-files">
      <h1>Templates</h1>
      <ul uk-tab>
        <li><a href="#">Marketing</a></li>
        <li><a href="#">Client</a></li>
        <li><a href="#">HR</a></li>
      </ul>

      <div class="uk-switcher uk-margin">
        <div>
          <ul class="uk-list uk-list-divider">
            <li  class="file-links" *ngFor="let file of marketing" (click)="downloadFile(file.path_lower)"><img class="pdf-icon" src="/assets/images/dashboard-icons/pdf-icon.svg">{{file.name}} <span uk-icon="download"></span></li>
          </ul>
        </div>
        <div>
          <ul class="uk-list uk-list-divider">
            <li  class="file-links" *ngFor="let file of clients" (click)="downloadFile(file.path_lower)"><img class="pdf-icon" src="/assets/images/dashboard-icons/pdf-icon.svg">{{file.name}} <span uk-icon="download"></span></li>
          </ul>
        </div>
        <div>
          <ul class="uk-list uk-list-divider">
            <li  class="file-links" *ngFor="let file of humanResources" (click)="downloadFile(file.path_lower)"><img class="pdf-icon" src="/assets/images/dashboard-icons/pdf-icon.svg">{{file.name}} <span uk-icon="download"></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <bio-dashboard [bios]="bios"></bio-dashboard>
</section>
