<section id="dashboard">
  <div>
    <div><h1 id="main-title">Hey Max!</h1></div>
    <div><h1 id="sub-title">{{title}}</h1></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

  <div uk-grid>
    <div>
      <proposal-dashboard [proposals]="proposals"></proposal-dashboard>
    </div>
    <div class="basic-files">
      <h1>Templates</h1>
      <ul uk-tab>
        <li><a href="#">Marketing</a></li>
        <li><a href="#">Client</a></li>
        <li><a href="#">HR</a></li>
      </ul>

      <div class="uk-switcher uk-margin">
        <div>
          <ul class="uk-list uk-list-divider">
            <li  class="file-links" *ngFor="let f of files" (click)="getFilesUrl(f.path_lower)">{{f.name}} <span uk-icon="download"></span></li>
          </ul>
        </div>
        <div>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        <div>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</div>
      </div>
    </div>
  </div>

  <bio-dashboard [bios]="bios"></bio-dashboard>
</section>
