* {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 38px;
  font-weight: normal;
  display: inline-block;
  width: auto;
  line-height: 1;
}

#dashboard {
  margin-left: 240px;
  padding-left: 60px;
  padding-top: 40px;
  padding-right: 60px;
  padding-bottom: 40px;
}

#dashboard-header {
  margin-bottom: 40px;
}

#waving-icon {
  width: 29px;
  margin-left: 5px;
  vertical-align: text-bottom;
}

.pdf-icon {
  width: 24px;
  margin-right: 10px;
}

.uk-first-column {
  width: 60%;
}

.basic-files {
  width: 40%;
}

.basic-files > h1 {
  color: #333333 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 31px !important;
}

.file-links {
  cursor: pointer;
  color: #121212;
  font-size: 14px;
}

.file-links:hover {
  color: #0070E0;
}

.file-links > span {
  float: right;
}

#main-title {
  font-weight: 600;
}

#sub-title {
  font-weight: lighter;
}

#user-proposals {
  width: 50%;
  height: 200px;
  border: 1px solid lightgrey;
}

#user-bios {
  width: 50%;
  height: 200px;
  border: 1px solid lightgrey;
}

.uk-container {
  padding-top: 100px;
}

.uk-card-body {
  padding: 20px;
  height: 250px;
}

#col1, #col2 {
  min-width: 200px;
}

@media screen and (max-width: 600px) {
  #dashboard {
    margin-left: 0px;
  }
}
