<div id="header" *ngIf="isLoggedIn">
  <span id="previous-page-btn" uk-icon="icon: arrow-left; ratio: 2" (click)="goBack()"></span>
  <div id="user-profile-btn"><a [routerLink]="['/users', _id]">{{name}}<span uk-icon="icon: chevron-down"></span></a></div>
  <div id="user-profile-img"><img src="{{profileImage}}" onerror="this.src='/assets/images/user-profile-icon/default-user.svg'"></div>
  <div id="add-btn"><img src="assets/images/proposal-icons/add_circle.svg" [routerLink]="['/proposals/0/new']"></div>
</div>

<!--data:image/png;base64, {{name}}-->
<div class="uk-offcanvas-content" *ngIf="isLoggedIn">
  <section id="nav">
    <ul uk-nav>
      <img id="header-logo" src="/assets/images/Logo.svg">
      <li><a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
      <li><a [routerLink]="['/proposals']" routerLinkActive="active">Proposals</a></li>
      <li><a [routerLink]="['/bios']" routerLinkActive="active">Bios</a></li>
      <li><a href="#">Case Studies</a></li>
    </ul>
  </section>
  <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul uk-nav>
        <li><a [routerLink]="['/proposals/0/new']"><span class="uk-margin-small-right"></span>Proposal</a></li>
        <li><a [routerLink]="['/bios/0/new']"><span class="uk-margin-small-right"></span>Bio</a></li>
      </ul>

    </div>
  </div>
</div>
