
.bios-dashboard {
  width: 60%;
}

h1 {
  color: #333333 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 31px !important;
}

.add-bio-btn {
  width: 150px;
}

.uk-position-center {
  text-align: center;
}

#no-bios {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  margin-bottom: 10px;
}

.placeholder {
  width: 60%;
  margin-bottom: 30px;
}

.loadMore {
  text-align: center;
}

.loadMore > a {
  color: #0070e0;
}
.loadMore > a:hover {
  font-weight: 600;
}
