* {
  font-family: 'Source Sans Pro', sans-serif;
}

#password-success-heading {
  color: #333333;
  font-size: 37px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 0;
}

#raising-hands-icon {
  width: 35px;
  margin-right: 10px;
}

#password-success-subheading {
  color: #333333;
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
  margin-top: 5px;
}

.password-success {
  width: 30%;
  margin: 10% auto;
}

.submit-btn {
  height: 50px;
  background-color: #0070E0;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.submit-btn:disabled {
  color: #FFFFFF;
  background-color: #C4CDD1;
  border-color: transparent;
}

.uk-input {
  height: 55px;
  width: 100%;
  border: 1px solid #C4CDD5;
}

.uk-input.ng-valid.ng-touched {
  border: 2px solid #0070E0;
  border-radius: 3px;
}
