<div class="password-success">
  <h1 id="password-success-heading">{{success ? "Woohoo!" : "You're almost there"}}</h1>
  <h2 id="password-success-subheading">{{success ? "Your password was changed.": "Enter your new password below."}}</h2>

  <button type="submit" *ngIf="success" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom submit-btn" [routerLink]="['/login']">Login Now</button>

  <form (ngSubmit)="password()" [formGroup]="passwordResetForm" *ngIf="!success" novalidate>
    <!----- SERVER ERRORS ----->
    <app-notifications></app-notifications>
    <!------------------------- PASSWORD FIELD ------------------------->
    <div class="uk-margin">
      <input type="password" class="uk-input" placeholder="Enter New Password" formControlName="password">

      <!----- VALIDATION WARNINGS ----->
      <div *ngIf="passwordResetForm.get('password').touched">
        <div *ngIf="passwordResetForm.get('password').hasError('required')">
          <div class="uk-text-danger"> Password is required.</div>
        </div>
      </div>

    </div>

    <!----- SUBMIT BUTTON ----->
    <button type="submit" *ngIf="!buttonLoading" [disabled]="passwordResetForm.invalid"
            class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom submit-btn">{{passwordResetForm.invalid ?
      "Enter Data To Reset Password" : "RESET PASSWORD"}}
    </button>

    <!----- PROCESSING BUTTON ----->
    <button type="submit" *ngIf="buttonLoading" [disabled]="passwordResetForm.invalid"
            class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom submit-btn"><span
      class="btn-loading-spinner" uk-spinner></span> <span class="btn-loading-text">LOADING...</span></button>
  </form>
</div>
