<div uk-grid>
  <!--------------------------------------------------------------->
  <!------------------------- SECTION ONE ------------------------->
  <!--------------------------------------------------------------->
  <div class="section-one">
    <!----- LOGO ------>
    <div id="logo">
      <img src="assets/images/Logo.svg">
    </div>

    <div *ngIf="registrationSuccess" uk-grid>
      <img src="assets/images/login-registration-icons/check-mark.svg">
      <h1 class="heading">Congratulations! You did it.</h1>
    </div>
    <!----- LOGIN BOX ----->
    <div class="login-box" *ngIf="!registrationSuccess">
      <!----- TITLES ----->
      <div>
        <h2 class="heading" style="white-space: pre">Welcome to KB</h2>
        <p class="sub-heading">Please register your account.</p>
      </div>
      <!------------------------- LOGIN FORM ------------------------->
      <form (ngSubmit)="signUp()" [formGroup]="signupForm" novalidate>
        <!----- SERVER ERRORS ----->
        <app-notifications></app-notifications>
        <div class="uk-grid-small" uk-grid>
            <!------------------------- FIRST NAME FIELD ------------------------->
            <div class="uk-width-1-2@s">
              <!----- VALIDATION WARNINGS ----->
              <div *ngIf="signupForm.get('firstName').touched">
                <div *ngIf="signupForm.get('firstName').hasError('required')">
                  <div class="uk-text-danger"> First Name is required.</div>
                </div>
              </div>

              <div class="uk-form-controls">
              <input type="text" class="uk-input" placeholder="Enter First Name" formControlName="firstName">
              </div>
            </div>

            <!------------------------- LAST NAME FIELD ------------------------->
            <div class="uk-width-1-2@s">
              <!----- VALIDATION WARNINGS ----->
              <div *ngIf="signupForm.get('lastName').touched">
                <div *ngIf="signupForm.get('lastName').hasError('required')">
                  <div class="uk-text-danger"> Last Name is required.</div>
                </div>
              </div>

              <div class="uk-form-controls">
                <input type="text" class="uk-input" placeholder="Enter Last Name" formControlName="lastName">
              </div>
            </div>
        </div>
        <!------------------------- EMAIL FIELD ------------------------->
        <div class="uk-margin">

          <!----- VALIDATION WARNINGS ----->
          <div *ngIf="signupForm.get('email').touched || signupForm.get('email').dirty">
            <div class="uk-text-danger" *ngIf="signupForm.get('email').hasError('pattern')">Remember to use your @kmandt.com email.</div>
          </div>

          <div *ngIf="signupForm.get('email').touched">
            <div *ngIf="signupForm.get('email').hasError('required')">
              <div class="uk-text-danger"> Email is required.</div>
            </div>
          </div>

          <input type="email" class="uk-input" placeholder="Enter email" formControlName="email">
        </div>

        <!------------------------- PASSWORD FIELD ------------------------->
        <div class="uk-margin">
          <!----- VALIDATION WARNINGS ----->
          <div *ngIf="signupForm.get('password').touched">
            <div *ngIf="signupForm.get('password').hasError('required')">
              <div class="uk-text-danger"> Password is required.</div>
            </div>
          </div>

          <input type="password" class="uk-input" placeholder="Enter Password" formControlName="password">
        </div>

        <!----- SUBMIT BUTTON ----->
        <button type="submit" *ngIf="!buttonLoading" [disabled]="signupForm.invalid" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom submit-btn"> {{signupForm.invalid ? "FILL FIELDS TO SIGN UP" : "SIGN UP"}}</button>

        <!----- PROCESSING BUTTON ----->
        <button type="submit"  *ngIf="buttonLoading" [disabled]="signupForm.invalid" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom submit-btn"><span id="btn-loading-spinner" uk-spinner></span> <span id="btn-loading-text">LOADING...</span></button>
      </form>

      <div id="dont-have-an-account">Already have an account? <a [routerLink]="['/login']">Login</a></div>
    </div>
  </div>

  <!--------------------------------------------------------------->
  <!------------------------- SECTION TWO ------------------------->
  <!--------------------------------------------------------------->
  <div class="linear-grad">
    <h1 id="section-two-title">Knowledge<br>Management and<br>Transfer</h1>
  </div>

  <div class="section-two" id="bg">

  </div>

</div>



<!--<div class="container">
  <h2>{{title}}</h2>
  <form (ngSubmit)="signUp()" [formGroup]="signupForm" novalidate>

    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" class="form-control" id="fullName" placeholder="Enter full name" formControlName="fullName">

      <span *ngIf="signupForm.get('fullName').touched || signupForm.get('fullName').dirty">
        <small class="form-text text-muted" *ngIf="signupForm.get('fullName').hasError('required')">Please enter your full name.</small>
      </span>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">

      <span *ngIf="signupForm.get('email').touched || signupForm.get('email').dirty">
        <small class="form-text text-muted" *ngIf="signupForm.get('email').hasError('required')">Please enter your email.</small>
      </span>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">

      <span *ngIf="signupForm.get('password').touched || signupForm.get('password').dirty">
        <small class="form-text text-muted" *ngIf="signupForm.get('password').hasError('required')">Please enter your password.</small>
      </span>
    </div>

    <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
  </form>

</div>-->
